* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar css start here... */
.navbar {
  font-family: sans-serif;
  border: 1px solid;
  height: 80px;
  width: 100%;
  background-color: #1d2126;
  display: flex;
  position: fixed;
  top: 0;

  z-index: 1000;
}
.navbar > div {
  display: flex;
  width: 65%;
  margin: auto;
}
.companyName {
  /* border: 1px solid white; */
  flex: 2;
  margin: 30px 0;
}
.companyName > a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.navBtns {
  flex: 3;
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}
.navBtns > a {
  border: 2px solid transparent;
  color: #fff;
  font-size: 15px;
  text-decoration: none;

  padding: 5px 9px;
  border: 2px solid transparent;
  border-radius: 4px;
}

.navBtns > a:hover {
  border: 2px solid #5a6068;
}

.navBtns > a:focus {
  border: 2px solid #23b7a3;
}
/* navbar css end here... */

.container {
  margin-top: 78px;
  font-family: sans-serif;
}
.carousel {
  width: 100%;
  height: 660px;
  background-image: url("./images/bgi1.jpg");
  background-repeat: no-repeat;
  position: relative;
}
.carouselUpperDiv {
  color: #fff;
  width: 654px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 270px;
  height: fit-content;
}
.carouselUpperDiv > p {
  color: #ccd0d7;
  margin: 15px 0;
}
.carouselUpperDiv > a {
  text-decoration: none;
  color: #fff;
  border: 2px solid;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
}
.carouselUpperDiv > a:hover {
  background-color: #23b7a3;
  border: 2px solid #23b7a3;
}

/* MODEST CSS start here...  */

.modestPart {
  width: 65%;
  height: 400px;
  margin: auto;
  margin-top: 70px;
}
.horiLine {
  margin-top: 0;
  width: 100%;
  margin: auto;
  height: 1px;
  background-color: #c8cdd0;
}
.verticalLine {
  height: 24px;
  /* border: 4px solid #c8cdd0; */
  width: 7px;
  background-color: #c8cdd0;
  color: #c8cdd0;
  float: left;
  margin-right: 14px;
  margin-top: 2px;
}
.modest_heading {
  font-size: 25px;
  font-weight: 600;
  color: #292f36;
}
.modest_container {
  display: flex;
  gap: 20px;
  margin: 30px auto;
}
.leftSide {
  color: #8d8f92;
  font-size: 14px;
  flex: 3;
  font-weight: 300;
}
.leftSide > p {
  margin-bottom: 30px;
}
.rightSide {
  flex: 2;
}
.modestBox {
  display: flex;
}
.numBox {
  color: #fff;
  align-items: center;
  padding: 0 15px;
  border: none;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 400;
  background-color: #23b7a4;
}
.modestBox > div > h3 {
  color: #292f36;
  font-size: 16px;
  font-weight: 400;
  margin-left: 15px;
}
.modestBox > div > p {
  font-size: 14px;
  color: #8d8f92;
  font-weight: 300;
  margin: 10px 15px;
}
.Social_i_cont {
  display: flex;
  gap: 2px;
}
.Social_i_cont > div {
  width: 60px;
  height: 60px;
  padding: 5px;
  position: relative;
  background-color: #c8cdd0;
}
.Social_i_cont > div > img {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: #c8cdd0;
}
/* MODEST CSS end here...  */

/* MEET TEAM CSS start here... */
.meetTeamHome {
  /* border: 1px solid black; */
  height: 450px;
  width: 65%;
  margin: auto;
  margin-top: 70px;
}
.homeAvatarDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 50px;
}
.homeAvatarDiv > div {
  /* border: 1px solid red; */
}

.teamImgDiv > img {
  width: 100%;
  object-fit: contain;
}
.teamAboutDiv {
  margin-top: -4px;
  background-color: #e1e6ea;
  padding: 15px;
}
.teamAboutDiv > h4 {
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: 400;
}
.teamAboutDiv > h5 {
  font-size: 13px;
  font-weight: 400;
}
/* MEET TEAM CSS end here... */

/* LOVELY WORK CSS start here... */

.lovelyWorkHomeCont {
  width: 100%;
  background-color: #3a454d;
  height: 750px;
}
.lovelyWorkHome {
  width: 65%;
  /* border: 1px solid #fff; */
  margin: auto;
  padding-top: 60px;
  /* height: 500px; */
}
.renderLovelyImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
}
.renderLovelyImg>div{
  position: relative;
}
.lovelyImage {
  width: 100%;
}
.LovelyVerticalLine {
  height: 24px;
  width: 7px;
  background-color: #c8cdd0;
  color: #4e5a62;
  float: left;
  margin-right: 14px;
  margin-top: 2px;
}
.lovely_heading {
  font-size: 25px;
  font-weight: 600;
  color: #e1e6ea;
}
.lovelyWorkText {
  position: absolute;
  bottom: 0;
  padding: 17px;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  background-color: #292f36;

  color: #e1e6ea;
}
.showMeMoreBtn{
  /* text-align: center;
   */
   margin-left: 42%;
   margin-right: 42%;
   margin-top: 50px;
   margin-bottom: 50px;
   padding: 10px 15px;
   border-radius: 5px;
   border: 2px solid #e1e6ea;
   background-color: transparent;
   color: #e1e6ea;
   cursor: pointer;
}
/* LOVELY WORK CSS end here... */


/* Waht we Do CSS start here... */

.whatWeDoHome{
  padding-top: 60px;
  width: 65%;
  /* border: 1px solid black; */
  margin: auto;
  height: 600px;
}
.renderWhatDoData{
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;

}
.renderWhatDoData>div{
  border: 1px solid;
  text-align: center;
}
.renderWhatDoData>div>img{
  margin-top: 10px;
  width: 50px;
  height: 50px;
}
.renderWhatDoData>div>h4{
  font-size: 14px;
  margin: 15px;
  font-weight: 400;
}
.renderWhatDoData>div>p{
  font-size: 14px;
  font-weight: 400;
  color: #8d8f92;
  margin-bottom: 10px;
}

/* Waht we Do CSS start here... */

/* Features section CSS start here... */



/* Features section CSS start here... */