* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar css start here... */
.navbar {
  font-family: sans-serif;
  border: 1px solid;
  height: 80px;
  width: 100%;
  background-color: #1d2126;
  display: flex;
  position: fixed;
  top: 0;

  z-index: 1000;
}
.navbar > div {
  display: flex;
  width: 65%;
  margin: auto;
}
.companyName {
  /* border: 1px solid white; */
  flex: 2;
  margin: 30px 0;
}
.companyName > a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.navBtns {
  flex: 3;
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}
.navBtns > a {
  border: 2px solid transparent;
  color: #fff;
  font-size: 15px;
  text-decoration: none;

  padding: 5px 9px;
  border: 2px solid transparent;
  border-radius: 4px;
}

.navBtns > a:hover {
  border: 2px solid #5a6068;
}

.navBtns > a:focus {
  border: 2px solid #23b7a3;
}
/* navbar css end here... */

.container {
  margin-top: 78px;
  font-family: sans-serif;
  font-family: Arial, Helvetica, sans-serif;
}
.carousel {
  width: 100%;
  height: 660px;
  background-image: url("./images/bgi1.jpg");
  background-repeat: no-repeat;
  position: relative;
}
.carouselUpperDiv {
  color: #fff;
  width: 654px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 270px;
  height: fit-content;
}
.carouselUpperDiv > p {
  color: #ccd0d7;
  margin: 15px 0;
  line-height: 23px;
  word-spacing: 3px;
}
.carouselUpperDiv > a {
  text-decoration: none;
  color: #fff;
  border: 2px solid;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
}
.carouselUpperDiv > a:hover {
  background-color: #23b7a3;
  border: 2px solid #23b7a3;
}

/* MODEST CSS start here...  */

.modestPart {
  width: 65%;
  height: 400px;
  margin: auto;
  margin-top: 70px;
}
.horiLine {
  margin-top: 0;
  width: 100%;
  margin: auto;
  height: 1px;
  background-color: #c8cdd0;
}
.verticalLine {
  height: 24px;
  /* border: 4px solid #c8cdd0; */
  width: 7px;
  background-color: #c8cdd0;
  color: #c8cdd0;
  float: left;
  margin-right: 14px;
  margin-top: 2px;
}
.modest_heading {
  font-size: 25px;
  font-weight: 600;
  color: #292f36;
}
.modest_container {
  display: flex;
  gap: 35px;
  margin: 30px auto;
}
.leftSide {
  color: #8d8f92;
  font-size: 14px;
  flex: 3;
  font-weight: 300;
}
.leftSide > p {
  margin-bottom: 30px;
  line-height: 23px;
  word-spacing: 3px;
}
.rightSide {
  flex: 2;
}
.modestBox {
  display: flex;
}
.numBox {
  color: #fff;
  align-items: center;
  padding: 0 15px;
  border: none;
  margin-bottom: 60px;
  font-size: 16px;
  font-weight: 400;
  background-color: #23b7a4;
}
.modestBox > div > h3 {
  color: #292f36;
  font-size: 16px;
  font-weight: 400;
  margin-left: 15px;
}
.modestBox > div > p {
  font-size: 14px;
  color: #8d8f92;
  font-weight: 300;
  margin: 10px 15px;
  line-height: 23px;
  word-spacing: 3px;
}
.iconsForModest {
  display: flex;
  margin-left: 6px;
}

.iconsForModest > .fa {
  height: 60px;
  padding: 20px 22px;
  font-size: 22px;
  margin-left: -6px;
  background-color: #c8cdd0;
}
.iconsForModest > .fa:hover {
  background-color: #b5b5b6;
  /* color: #9ebbc269; */
}

/* MODEST CSS end here...  */

/* MEET TEAM CSS start here... */
.meetTeamHome {
  /* border: 1px solid black; */
  height: 450px;
  width: 65%;
  margin: auto;
  margin-top: 70px;
}
.homeAvatarDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 50px;
}
.homeAvatarDiv > div {
  cursor: pointer;
}

.teamAboutDiv {
  z-index: 3;
}
.teamImgDiv {
  position: relative;
}
.teamImgDiv > img {
  width: 100%;
  object-fit: contain;
}
.teamHoverDiv {
  z-index: 4;
  margin-top: 0;
  border: 1px solid red;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #d3d4d658;
  margin: auto;
}
.teamIiconsDiv{
  position: absolute;
  /* border: 2px solid red; */
  height:auto;
  width: fit-content;
 margin: 50% 17%;
}
.teamIiconsDiv>a{
  margin-top: 0;
  font-size: 20px;
  height: 42px;
  width: 42px;
  padding: 10px 10px;
  background-color: #3b454e;
  /* border: 1px solid blue; */
}
.teamIiconsDiv>.fa-facebook,.teamIiconsDiv>.fa-linkedin{
  margin-left: -13px;
}
.teamIiconsDiv>a:hover{
  background-color: #4d5a62;
}
.teamAboutDiv {
  margin-top: -4px;
  background-color: #e1e6ea;
  padding: 15px;
}
.teamAboutDiv > h4 {
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: 400;
}
.teamAboutDiv > h5 {
  font-size: 13px;
  font-weight: 400;
}
/* MEET TEAM CSS end here... */

/* LOVELY WORK CSS start here... */

.lovelyWorkHomeCont {
  width: 100%;
  background-color: #3a454d;
  margin-top: 60px;
}
.lovelyWorkHome {
  width: 65%;
  /* border: 1px solid #fff; */
  margin: auto;
  padding-top: 60px;
}
.renderLovelyImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
}
.renderLovelyImg > div {
  position: relative;
  cursor: pointer;
}
.lovelyImgHoverDiv {
  height: 77%;
  width: 100%;
  z-index: 6;
  position: absolute;
  background-color: #5f5b5b59;
  display: none;
  text-align: center;
  padding-top: 90px;
  color: #fff;
  font-size: 25px;
}
.lovelyImage {
  width: 100%;
}
.LovelyVerticalLine {
  height: 24px;
  width: 7px;
  background-color: #aaaaaa72;
  color: #4e5a62;
  float: left;
  margin-right: 14px;
  margin-top: 2px;
}
.lovely_heading {
  font-size: 25px;
  font-weight: 600;
  color: #e1e6ea;
}
.lovelyWorkText {
  position: absolute;
  bottom: 0;
  padding: 17px;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  background-color: #292f36;
  display: none;
  color: #e1e6ea;
}
.showMeMoreBtn {
  margin-left: 42%;
  margin-right: 42%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #e1e6ea;
  background-color: transparent;
  color: #e1e6ea;
  cursor: pointer;
}
/* LOVELY WORK CSS end here... */

/* Waht we Do CSS start here... */

.whatWeDoHome {
  padding-top: 60px;
  width: 65%;
  /* border: 1px solid black; */
  margin: auto;
  height: 600px;
}
.renderWhatDoData {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.renderWhatDoData > div {
  text-align: center;
  /* margin-bottom: 30px; */
}
.renderWhatDoData > div > img {
  margin-top: 10px;
  width: 70px;
  height: 70px;
}
.renderWhatDoData > div > h4 {
  font-size: 14px;
  margin: 15px;
  font-weight: 400;
}
.renderWhatDoData > div > p {
  font-size: 14px;
  font-weight: 400;
  color: #8d8f92;
  line-height: 23px;
  word-spacing: 3px;
  margin-bottom: 10px;
}

/* Waht we Do CSS start here... */

/* Features section CSS start here... */
.featuresWorkHomeCont {
  margin-top: 150px;
  width: 100%;
  background-color: #3a454d;
  /* height: 750px; */
}
.featuresWorkHome {
  width: 65%;
  /* border: 1px solid #fff; */
  margin: auto;
  padding-top: 75px;
}
.renderFeaturesImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.renderFeaturesImg > div {
  margin-top: 60px;
  /* border: 1px solid red; */
}
.renderFeaturesImg > div > img {
  width: 100%;
}
.renderFeaturesImg > div > h4 {
  font-size: 16px;
  font-weight: 300;
  color: #e1e6ea;
  margin: 25px 0;
  line-height: 23px;
  word-spacing: 3px;
}
.renderFeaturesImg > div > p {
  font-size: 14px;
  font-weight: 300;
  color: #c8cdd0;
  margin: 30px 0;
  line-height: 21px;
  word-spacing: 2px;
  padding-bottom: 30px;
}

/* Features section CSS start here... */

/* Stay in Touch section CSS start here... */
.stayTouchHome {
  margin-top: 50px;
}
.stayVerticalLine {
  margin-left: 17.6%;
  height: 24px;
  width: 7px;
  background-color: #c8cdd0;
  color: #c8cdd0;
  float: left;
  margin-right: 14px;
}
.stay_heading {
  font-size: 25px;
  font-weight: 600;
  margin-top: 27px;
  margin-bottom: 27px;
  color: #292f36;
}
.stayTouchData {
  height: 350px;
  position: relative;
}
/* Send message CSS start here... */

.sendMessageDiv {
  position: absolute;
  width: 450px;
  color: #5a6068;
  padding: 25px;
  margin-left: 57%;
  margin-top: -120px;
  background-color: #fff;
}
.fieldNames {
  display: flex;
  width: 100%;
  gap: 130px;
  padding-bottom: 10px;
}
.imputDivs > input {
  height: 40px;
  width: 48%;
  font-size: 18px;
  background-color: #e2e4e5;
  border: none;
}
.email {
  margin-left: 10px;
}
.messageField {
  width: 100%;
  height: 120px;
  background-color: #e2e4e5;
  border: none;
  font-size: 18px;
}
.yourMessageText {
  padding-top: 20px;
  padding-bottom: 10px;
}
.sendMessageDiv > button {
  font-size: 14px;
  background-color: #0bab95;
  color: #fff;
  padding: 15px 20px;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}
/* Send messsage CSS end here... */
.contactDiv {
  /* border: 1px solid black; */
  width: 580px;
  height: 232px;
  margin: 35px;
  margin-top: 60px;
  margin-left: 17.6%;
}
.contactDiv > h5 {
  padding: 0 10px;
  font-size: 16px;
  font-weight: 600;
}
.contactDiv > p {
  font-size: 14px;
  line-height: 23px;
  word-spacing: 3px;
  margin: 35px 0;
  color: #8d8f92;
}

/* Footerbar CSS start here... */

.footerBar {
  background-color: #3a454d;
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  height: 90px;
}

.leftSideFooter > p {
  margin-top: 40px;
  color: #c8cdd0;
}
.fa {
  margin-top: 40px;
  color: #fff;
  height: 50px;
  margin-right: 10px;
  text-decoration: none;
}

/* Footerbar CSS end here... */
